:root {
    /* Primary color: Base #9f3e19 (700) */
    --color-primary-950: #3b1609;
    --color-primary-900: #6b2d16;
    --color-primary-800: #823417;
    --color-primary-700: #9f3e19;
    --color-primary-600: #b04a29;
    --color-primary-500: #c66141;
    --color-primary-400: #d68066;
    --color-primary-300: #e4a693;
    --color-primary-200: #efc8bb; 
    --color-primary-100: #f7e2db; 
    --color-primary-50: #fcf3f0;

    /* Secondary Color: Base #dc6d15 (500) */
    --color-secondary-950: #3a1508;
    --color-secondary-900: #6d2e13;
    --color-secondary-800: #873715;
    --color-secondary-700: #aa4411;
    --color-secondary-600: #cd5a11;
    --color-secondary-500: #dc6d15;
    --color-secondary-400: #e98f53;
    --color-secondary-300: #efb082;
    --color-secondary-200: #f5ceb0;
    --color-secondary-100: #fae7d6;
    --color-secondary-50: #fdf5ef;

    /* Tertiary Color: Base #fbe8d6 (200) */
    --color-tertiary-950: #402015;
    --color-tertiary-900: #753f2c;
    --color-tertiary-800: #914a33;
    --color-tertiary-700: #b35d3d;
    --color-tertiary-600: #d27856;
    --color-tertiary-500: #e09575;
    --color-tertiary-400: #ebb496;
    --color-tertiary-300: #f4d1b8;
    --color-tertiary-200: #fbe8d6;
    --color-tertiary-100: #fdfaf6;
    --color-tertiary-50: #fffdfb;

    /* Basic color */
    --white: #fff;
    --black: #000;
    --color-gray-950:#101010;
    --color-gray-900:#262626;
    --color-gray-800:#3B3B3B;
    --color-gray-700:#515151;
    --color-gray-600:#676767;
    --color-gray-500:#7D7D7D;
    --color-gray-400:#929292;
    --color-gray-300:#A8A8A8;
    --color-gray-200:#D4D4D4;
    --color-gray-100: #D4D4D4;
    --color-gray-50: #E9E9E9;

    /* Font-family */

    
    --main-font: Helvetica, Arial, sans-serif;
    --secondary-font: Calibri, Helvetica, Arial;


    /* Font weigths crudos */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Font-size */

    --fs-xxxxl: 5rem; /*ultra grande*/
    --fs-xxxl: 4rem;/*super grande*/
    --fs-xxl: 3rem;/*extra grande*/
    --fs-xl: 2.5rem;/*muy grande*/
    --fs-lg: 2rem;/*h1*/
    --fs-md:1.5rem;/*titulo*/
    --fs-sm:1.25rem;/*subtitulo*/
    --fs-xs:1rem;/*base*/
    --fs-xxs:0.875rem;;/*texto de apoyo*/
    --fs-xxxs: 0.75rem;/*texto de apoyo 2*/
    --fs-xxxxs: 0.5rem;/*label*/
}

